.seccion-slider{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../assets/Review.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.contenedor {
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin: auto;  
}

.slider-contenedor {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.slider-test {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    align-items: center;

}

.photo,
.first-photo,
.second-photo,
.third-photo {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid orange;
    
}

.review,
.first-review,
.second-review,
.third-review {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}

.author,
.first-author,
.second-author,
.third-author {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

}

.starts {
    display: flex;


}

.titulo-slider {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;

}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-titulo {
    margin-top: -12px;
    margin-right: 10px;
    
}

.quote {
    text-align: center;
    margin-top: 15px;
}



#span-title {
    color: orange;
    font-size: 32px;
}

#google {
    margin-top: -15px;
    margin-right: 10px;
    height: 25px;
    width: 90px;
    padding-left: 10px;
}
.google{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 12px;
}