/* seccion de actividades*/
span{
    color: orange;
}
.titulo-actividades{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo-actividades h3{
    padding-top: 50px ;
    text-align: center;
    font-size: 60px;
}
.titulo-actividades p {
    font-size: 20px;
    padding: 20px 0px;
    text-align: center;
   
}
.slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.container-img{
    justify-content: center;
}
.container-img > img{
    width: 20%;
    padding: 5px;
}
/*
.position{
    position: static;
    border-radius: 50px;
    
    
    
}
.slider{
    background-image: url(../../assets/1.jfif);
    background-size: cover;
    width: 550px;
    height: 800px;
    animation: animate 30s infinite;
    width: 50%;
    
    
}
@keyframes animate{
    30%{
        background-image: url("../../assets/1.jfif");
        background-size: cover;
        
    }
    50%{
        background-image: url("../../assets/2.jfif");
        background-size: cover;
        background-position: center;
        
    }
    70%{
        background-image: url("../../assets/3.jfif");
        background-size: cover;
    }
    
    90%{
        background-image: url("../../assets/8.jfif");
        background-size: cover;
    }
    110%{
        background-image: url("../../assets/9.jfif");
        background-size: cover;
    }
    
}
*/