.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.faqs h1{
    padding: 50px ;
    text-align: center;
    font-size: 60px;
}
