* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 10;
}

header .container2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

header .logo {
  margin: 0;
  padding: 10px 0px;
  font-weight: 500;
  color: orange;
  font-size: 50px;
  grid-column: 2;
}

header img {
  width: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 11;
}

header a {
  font-family: "Roboto", sans-serif;
  padding: 5px 12px;
  text-decoration: none;
  font-weight: 500;
  color: black;
  font-size: 20px;
  line-height: 30px;
  transform: 0.5s;
}

header a:hover {
  color: red;
  transform: translateY(-3px) scale(1.1);
}

/* presentacion */
.presentacion {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 800px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/hero.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  margin: 0;
  padding: 0;
}

.titulo {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 6;
}

.titulo h1 {
  color: orange;
  font-family: "Roboto", sans-serif;
  font-size: 90px;
  font-weight: 500;
}

.titulo span {
  color: white;
  font-size: 90px;
}

.subtitulo {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 7;
}

.subtitulo p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.registro {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 9;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.registro a, .asociate {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 15px;
  background-color: transparent;
  padding: 10px;
  display: block;
}

.registro a, .asociate:hover {
  color: rgba(247, 8, 60, 0.973);
  cursor: pointer;
}

.contenedor-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 250px;
  background-color: rgb(0, 0, 0);
  padding: 50px 0px;
}

.sobrenosotros {
  border: 1px solid white;
  margin: 5px;
  padding: 0px 10px;
}

.sobrenosotros,
.contacto {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sobrenosotros h2,
.contacto h2 {
  font-size: 40px;
  color: white;
}

.contacto h4 {
  padding-top: 10px;
  color: white;
}

.sobrenosotros p,
.contacto p {
  color: white;
  font-size: 15px;
  font-weight: 100;
  padding: 10px 0px;
}

.redes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.redes-container ul li {
  display: inline-block;
  margin: 0px 5px;
  width: 50px;
  height: 10px;
  text-align: center;
}

.redes-container ul li a {
  display: block;
  padding: 0px 0px;
  background: #333;
  border-radius: 100px;
  color: white;
  line-height: 50px;
  font-size: 15px;
  transform: 0.5s;
}

.redes-container ul:hover a {
  filter: blur(1px);
}

.redes-container ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  filter: none;
}

.redes-container ul li .facebook:hover {
  background: rgb(42, 62, 240);
}

.redes-container ul li .instagram:hover {
  background: rgba(243, 42, 243, 0.753);
}

.redes-container ul li .twitter:hover {
  background: rgba(18, 152, 230, 0.753);
}

.sub-footer {
  color: white;
  background-color: red;
  font-size: 15px;
  background-color: #333;
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
}

/* presentacion */
.presentacion {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 800px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/hero.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  margin: 0;
  padding: 0;
}

.titulo {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 6;
}

.titulo h1 {
  color: orange;
  font-family: "Roboto", sans-serif;
  font-size: 90px;
  font-weight: 500;
}

.titulo span {
  color: white;
  font-size: 90px;
}

.subtitulo {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 7;
}

.subtitulo p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.registro {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 9;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.registro a, .asociate {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 15px;
  background-color: transparent;
  padding: 10px;
  display: block;
}

.registro a, .asociate:hover {
  color: rgba(247, 8, 60, 0.973);
  cursor: pointer;
}

/* seccion de planes */
.planes {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
  padding-top: 40px;
}

.division {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid white;
}

/*elegi tu plan*/
.plan-titulo {
  width: 100%;
  padding: 50px 0px;
}

.plan-titulo h3 {
  text-align: center;
  font-size: 60px;
}

.plan-titulo p {
  font-size: 20px;
  padding: 20px 0px;
  text-align: center;
}

/* plan silver */
.plan-silver {
  border: 3px solid white;
  background-color: rgba(31, 31, 31, 0.87);
  box-shadow: 5px 10px 20px #000;
  border-radius: 20px;
  padding: 20px 10px;
  text-align: center;
  width: 20%;
}

.plan-silver h3 {
  margin: 0px 10px;
  padding-bottom: 10px;
  font-size: 35px;
  text-align: center;
  color: white;
}

.plan-silver p {
  font-size: 25px;
  color: white;
  padding-bottom: 20px;
  text-align: center;
}

.plan-silver button {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  background-color: #1fe1ba;
}

.plan-silver a {
  color: black;
  text-decoration: none;
}

.plan-silver li {
  color: white;
  padding-top: 10px;
  text-align: start;
  padding-left: 15px;
}

.plan-silver button:hover {
  color: white;
  cursor: pointer;
}

/* plan gold*/
.plan-gold {
  border: 3px solid white;
  background-color: rgba(31, 31, 31, 0.87);
  box-shadow: 5px 10px 20px #000;
  border-radius: 20px;
  padding: 20px 10px;
  text-align: center;
  width: 20%;
}

.plan-gold h3 {
  margin: 0px 10px;
  padding-bottom: 10px;
  font-size: 35px;
  text-align: center;
  color: white;
}

.plan-gold p {
  font-size: 25px;
  color: white;
  padding-bottom: 20px;
  text-align: center;
}

.plan-gold button {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  background-color: #f8e91a;
}

.plan-gold li {
  color: white;
  padding-top: 10px;
  text-align: start;
  padding-left: 15px;
}

.plan-gold button:hover {
  color: white;
  cursor: pointer;
}

/* plan platinum*/
.plan-platinum {
  border: 3px solid white;
  background-color: rgba(31, 31, 31, 0.87);
  box-shadow: 5px 10px 20px #000;
  border-radius: 20px;
  padding: 20px 10px;
  text-align: center;
  width: 20%;
}

.plan-platinum h3 {
  margin: 0px 10px;
  padding-bottom: 10px;
  font-size: 35px;
  text-align: center;
  color: white;
}

.plan-platinum p {
  font-size: 25px;
  color: white;
  padding-bottom: 20px;
  text-align: center;
}

.plan-platinum button {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  background-color: #b62eec;
}

.plan-platinum li {
  color: white;
  padding-top: 10px;
  text-align: start;
  padding-left: 15px;
}

.plan-platinum button:hover {
  color: white;
  cursor: pointer;
}

/* seccion de actividades*/
span {
  color: orange;
}

.titulo-actividades {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-actividades h3 {
  padding-top: 50px;
  text-align: center;
  font-size: 60px;
}

.titulo-actividades p {
  font-size: 20px;
  padding: 20px 0px;
  text-align: center;
}

.slider-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.position {
  position: static;
  border-radius: 50px;
}

.slider {
  background-image: url(../../assets/1.jfif);
  background-size: cover;
  width: 550px;
  height: 800px;
  animation: animate 30s infinite;
  width: 50%;
}

@keyframes animate {
  30% {
    background-image: url("../../assets/1.jfif");
    background-size: cover;
  }
  50% {
    background-image: url("../../assets/2.jfif");
    background-size: cover;
    background-position: center;
  }
  70% {
    background-image: url("../../assets/3.jfif");
    background-size: cover;
  }
  90% {
    background-image: url("../../assets/8.jfif");
    background-size: cover;
  }
  110% {
    background-image: url("../../assets/9.jfif");
    background-size: cover;
  }
}
.container-preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px;
}

.container-preguntas h2 {
  color: rgb(10, 0, 0);
  font-size: 30px;
  cursor: pointer;
  padding-bottom: 15px;
}
.container-preguntas h2:hover {
  color: rgb(255, 145, 0);
}

.separador {
  margin: 10px 0px;
  border: 1px solid black;
  width: 60%;
}

.container-preguntas > p {
  color: black;
  font-size: 15px;
  padding: 1px;
  text-align: center;
}

.container-preguntas > h1 {
  padding-bottom: 100px;
  text-align: center;
  font-size: 60px;
}/*# sourceMappingURL=style.css.map */